[submodule "Assignments/HW1_VirtualCities/ggslac"]
	path = Assignments/HW1_VirtualCities/ggslac
	url = https://github.com/ctralie/ggslac.git
[submodule "Assignments/HW1_VirtualCities/ArtContest/ggslac"]
	path = Assignments/HW1_VirtualCities/ArtContest/ggslac
	url = https://github.com/ctralie/ggslac.git
[submodule "Assignments/HW1_VirtualCities/HW1_VirtualCities"]
	path = Assignments/HW1_VirtualCities/HW1_VirtualCities
	url = https://github.com/ursinus-cs174-s2022/HW1_VirtualCities.git
[submodule "Assignments/HW0_Warmup/HW0_Warmup"]
	path = Assignments/HW0_Warmup/HW0_Warmup
	url = https://github.com/ursinus-cs174-s2022/HW0_Warmup.git
[submodule "ClassExercises/BinaryDrills"]
	path = ClassExercises/BinaryDrills
	url = https://github.com/ursinus-cs174-s2022/BinaryDrills.git
[submodule "Labs/Lab1_Holidays/Lab1_Holidays"]
	path = Labs/Lab1_Holidays/Lab1_Holidays
	url = https://github.com/ursinus-cs174-s2022/Lab1_Holidays.git
[submodule "Labs/Lab2_BugHunt/Lab2_BugHunt"]
	path = Labs/Lab2_BugHunt/Lab2_BugHunt
	url = https://github.com/ursinus-cs174-s2022/Lab2_BugHunt.git
[submodule "ClassExercises/Week3_AudioFiltering/Week3_AudioFiltering"]
	path = ClassExercises/Week3_AudioFiltering/Week3_AudioFiltering
	url = https://github.com/ursinus-cs174-s2022/Week3_AudioFiltering.git
[submodule "ClassExercises/Week3_2048/frontend-101"]
	path = ClassExercises/Week3_2048/frontend-101
	url = https://github.com/ursinus-cs174-s2022/frontend-101.git
[submodule "ClassExercises/Week3_2048/Week3_2048"]
	path = ClassExercises/Week3_2048/Week3_2048
	url = https://github.com/ursinus-cs174-s2022/Week3_2048.git
[submodule "ClassExercises/Week4_Binary_LFSR/BinaryDrills"]
	path = ClassExercises/Week4_Binary_LFSR/BinaryDrills
	url = https://github.com/ursinus-cs174-s2022/BinaryDrills.git
[submodule "Assignments/HW2_Steganography/HW2_Steganography"]
	path = Assignments/HW2_Steganography/HW2_Steganography
	url = https://github.com/ursinus-cs174-s2022/HW2_Steganography.git
[submodule "ClassExercises/Week4_DynMem/Week4_DynMem"]
	path = ClassExercises/Week4_DynMem/Week4_DynMem
	url = https://github.com/ursinus-cs174-s2022/Week4_DynMem.git
[submodule "ClassExercises/Week4_Bits/Week4_Bits"]
	path = ClassExercises/Week4_Bits/Week4_Bits
	url = https://github.com/ursinus-cs174-s2022/Week4_Bits.git
[submodule "ClassExercises/Week5_Classes/Week5_ObjectBasics"]
	path = ClassExercises/Week5_Classes/Week5_ObjectBasics
	url = https://github.com/ursinus-cs174-s2022/Week5_ObjectBasics.git
