[submodule "Assignments/HW0_Warmup/HW0_Warmup"]
	path = Assignments/HW0_Warmup/HW0_Warmup
	url = https://github.com/ursinus-cs174-f2022/HW0_Warmup.git
[submodule "Assignments/HW1_VirtualCities/ggslac"]
	path = Assignments/HW1_VirtualCities/ggslac
	url = https://github.com/ctralie/ggslac.git
[submodule "Assignments/HW1_VirtualCities/ArtContest/ggslac"]
	path = Assignments/HW1_VirtualCities/ArtContest/ggslac
	url = https://github.com/ctralie/ggslac.git
[submodule "Labs/Lab1_Holidays/Lab1_Holidays"]
	path = Labs/Lab1_Holidays/Lab1_Holidays
	url = https://github.com/ursinus-cs174-f2022/Lab1_Holidays.git
[submodule "ClassExercises/Week1_AudioFiltering/Week1_AudioFiltering"]
	path = ClassExercises/Week1_AudioFiltering/Week1_AudioFiltering
	url = https://github.com/ursinus-cs174-f2022/Week1_AudioFiltering.git
[submodule "Assignments/HW1_VirtualCities/HW1_VirtualCities"]
	path = Assignments/HW1_VirtualCities/HW1_VirtualCities
	url = https://github.com/ursinus-cs174-f2022/HW1_VirtualCities.git
[submodule "ClassExercises/Week3_ArrayList"]
	path = ClassExercises/Week3_ArrayList
	url = https://github.com/ctralie/Week3_ArrayList.git
[submodule "ClassExercises/Week4_Bits/Week4_Bits"]
	path = ClassExercises/Week4_Bits/Week4_Bits
	url = https://github.com/ursinus-cs174-f2022/Week4_Bits.git
[submodule "Assignments/HW2_Steganography/HW2_Steganography"]
	path = Assignments/HW2_Steganography/HW2_Steganography
	url = https://github.com/ursinus-cs174-f2022/HW2_Steganography.git
[submodule "Labs/Lab3_ShapesInheritance/Lab3_ShapesInheritance"]
	path = Labs/Lab3_ShapesInheritance/Lab3_ShapesInheritance
	url = https://github.com/ursinus-cs174-f2022/Lab3_ShapesInheritance.git
[submodule "ClassExercises/Week6_Polymorphism/Week6_Polymorphism"]
	path = ClassExercises/Week6_Polymorphism/Week6_Polymorphism
	url = https://github.com/ursinus-cs174-f2022/Week6_Polymorphism.git
[submodule "Assignments/HW3_InvasiveSpecies/HW3_InvasiveSpecies"]
	path = Assignments/HW3_InvasiveSpecies/HW3_InvasiveSpecies
	url = https://github.com/ursinus-cs174-f2022/HW3_InvasiveSpecies.git
[submodule "ClassExercises/Week7_LinkedList_Stack"]
	path = ClassExercises/Week7_LinkedList_Stack
	url = https://github.com/ursinus-cs174-f2022/Week7_LinkedList_Stack.git
[submodule "Assignments/HW4_LinkedListMaze/HW4_DoublyLinkedList"]
	path = Assignments/HW4_LinkedListMaze/HW4_DoublyLinkedList
	url = https://github.com/ursinus-cs174-f2022/HW4_DoublyLinkedList.git
[submodule "Labs/Lab6_RecursiveDrawing/Lab6_RecursiveDrawing"]
	path = Labs/Lab6_RecursiveDrawing/Lab6_RecursiveDrawing
	url = https://github.com/ursinus-cs174-f2022/Lab6_RecursiveDrawing.git
[submodule "ClassExercises/Week10_BinaryTrees/Week10-BinaryTrees"]
	path = ClassExercises/Week10_BinaryTrees/Week10-BinaryTrees
	url = https://github.com/ursinus-cs174-f2022/Week10-BinaryTrees.git
[submodule "ClassExercises/Week12_LinkedMap/Week12_LinkedMap"]
	path = ClassExercises/Week12_LinkedMap/Week12_LinkedMap
	url = https://github.com/ursinus-cs174-f2022/Week12_LinkedMap.git
