[submodule "Assignments/HW3_InvasiveSpecies/HW3_InvasiveSpecies"]
	path = Assignments/HW3_InvasiveSpecies/HW3_InvasiveSpecies
	url = https://github.com/ursinus-cs174-s2023/HW3_InvasiveSpecies.git
[submodule "Assignments/HW2_Steganography/HW2_Steganography"]
	path = Assignments/HW2_Steganography/HW2_Steganography
	url = https://github.com/ursinus-cs174-s2023/HW2_Steganography.git
[submodule "Assignments/HW1_VirtualCities/HW1_VirtualCities"]
	path = Assignments/HW1_VirtualCities/HW1_VirtualCities
	url = https://github.com/ursinus-cs174-s2023/HW1_VirtualCities.git
[submodule "Assignments/HW0_Warmup/HW0_Warmup"]
	path = Assignments/HW0_Warmup/HW0_Warmup
	url = https://github.com/ursinus-cs174-s2023/HW0_Warmup.git
